# Movies Tonight Part 4: A few SELECT queries 
__Use `%%sql` magic to write the queries listed below.__

In [11]:
# load %sql magic extension
%load_ext sql

# initialize a database connection; may have to adjust username and password 
%sql sqlite:///Movies.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @Movies.db'

**1. Write a select query that returns the MovieTitle, TheaterName, and Showtime for each movie showing.**  
The query should use `JOIN` syntax as described in your textbook. Also, use aliases ( `… AS …` ) to make sure that column names match exactly what is asked for.

In [16]:
%%sql
SELECT MovieTitle, TheaterName, Showtime
FROM SHOW
    JOIN MOVIES USING (MovieID)
    JOIN THEATER USING (TheaterID)
ORDER BY MovieTitle
LIMIT 30;

 * sqlite:///Movies.db
Done.

[('Associate, The', 'Akarakian Theatres Moreno 4 Cinemas', '4:20 PM'),
 ('Associate, The', 'Akarakian Theatres Moreno 4 Cinemas', '7:20 PM'),
 ('Associate, The', 'Akarakian Theatres Moreno 4 Cinemas', '9:40 PM'),
 ('Associate, The', 'Cinema Star The Ultraplex 14', '4:40 PM'),
 ('Associate, The', 'Cinema Star The Ultraplex 14', '7:30 PM'),
 ('Associate, The', 'General Cinema Rancho 6', '5:00 PM'),
 ('Associate, The', 'General Cinema Rancho 6', '7:30 PM'),
 ('Big Night', 'SOCAL Canyon Crest Cinema', '4:40 PM'),
 ('Big Night', 'SOCAL Canyon Crest Cinema', '7:10 PM'),
 ('Big Night', 'SOCAL Canyon Crest Cinema', '9:40 PM'),
 ('D3: The Mighty Ducks', 'Cinema Star The Ultraplex 14', '2:30 PM'),
 ('D3: The Mighty Ducks', 'SOCAL Canyon Springs Cinema', '4:15 PM'),
 ('Dear God', 'Cinema Star The Ultraplex 14', '5:15 PM'),
 ('Dear God', 'Cinema Star The Ultraplex 14', '7:45 PM'),
 ('Dear God', 'General Cinema Rancho 6', '4:45 PM'),
 ('Dear God', 'General Cinema Rancho 6', '7:15 PM'),
 ('Dear God', 'SOCAL Canyon Springs Cinema', '6:40 PM'),
 ('Dear God', 'SOCAL Canyon Springs Cinema', '9:00 PM'),
 ('Dear God', 'United Artists Riverside Park Sierra', '5:15 PM'),
 ('Dear God', 'United Artists Riverside Park Sierra', '9:25 PM'),
 ('First Wives Club, The', 'Cinema Star The Ultraplex 14', '5:30 PM'),
 ('First Wives Club, The', 'Cinema Star The Ultraplex 14', '8:00 PM'),
 ('First Wives Club, The', 'General Cinema Rancho 6', '5:30 PM'),
 ('First Wives Club, The', 'General Cinema Rancho 6', '8:00 PM'),
 ('First Wives Club, The', 'SOCAL Canyon Springs Cinema', '4:20 PM'),
 ('First Wives Club, The', 'SOCAL Canyon Springs Cinema', '6:30 PM'),
 ('First Wives Club, The', 'SOCAL Canyon Springs Cinema', '8:40 PM'),
 ('First Wives Club, The', 'United Artists Riverside (Galleria) Tyler Mall', '4:20 PM'),
 ('First Wives Club, The', 'United Artists Riverside (Galleria) Tyler Mall', '7:10 PM'),
 ('First Wives Club, The', 'United Artists Riverside (Galleria) Tyler Mall', '9:30 PM')]

**2. Write a select query to display the MovieTitle, TheaterName, and Showtime for each show after 7pm.** You can start with a copy of the previous query and then add a `WHERE` clause.

In [19]:
%%sql
SELECT MovieTitle, TheaterName, Showtime
FROM SHOW
    JOIN MOVIES USING (MovieID)
    JOIN THEATER USING (TheaterID)
WHERE ShowTime BETWEEN '07:00:00 PM' AND '11:59:59 PM'
ORDER BY MovieTitle
;

 * sqlite:///Movies.db
Done.

[('Ghost & The Darkness, The', 'Pacific Inland Center', '10:05 PM'),
 ('Mirror Has Two Faces, The', 'United Artists Riverside Park Sierra', '10:20 PM'),
 ('Set It Off', 'United Artists Riverside Park Sierra', '10:05 PM')]

**3. Write a select query to display the cast (actors only) of each movie.** The query should return the Movie Title, Actor Name, MID, and AID.

In [29]:
%%sql
SELECT DISTINCT MovieTitle, ArtistName, MovieID, ArtistID
FROM CREDIT
    JOIN MOVIES USING (MovieID)
    JOIN ARTIST USING (ArtistID)
WHERE CreditCODE='A'
ORDER BY MovieTitle
;

 * sqlite:///Movies.db
Done.

[]

**4. Write a select query to display the number of distinct movies that each actor appears in.** The query should return the ActorName, MovieCount, and AID. You will need to use use a GROUP BY clause and the COUNT() function.

In [26]:
%%sql
SELECT ArtistName, COUNT(DISTINCT(MovieID)) AS MovieCount, ArtistID
FROM CREDIT
    JOIN ARTIST USING (ArtistID)
WHERE CreditCode='A'
GROUP BY ArtistName
;

 * sqlite:///Movies.db
Done.

[]

**5. Write a select query to display only the actors that appear in multiple movies.** The query should return the Actor Name, Movie Count, and AID. You can use the previous select query as a starting point. You will need to add a HAVING clause to do the restriction.

In [27]:
%%sql
SELECT ArtistName, COUNT(DISTINCT(MovieID)) AS MovieCount, ArtistID
FROM CREDIT
    JOIN ARTIST USING (ArtistID)
WHERE CreditCode='A'
GROUP BY ArtistName
HAVING MovieCount>1
;

 * sqlite:///Movies.db
Done.

[]

**6. Write a select query to display directors that also act in their movies.** The query should return the ArtistName, NumDirectorCredits, NumActorCredits, NumDirectorActorCredits. Each count should be calculated separately using a subquery. Note: NumDirectorActorCredits should be greater than 0.

**?**