# Movies Tonight Part 2: SQL DDL

In [1]:
%load_ext sql

1. **Create / Reset a SQLite database.** 
    - Name the database `Movies.db`.
    - Add `DROP TABLE IF EXISTS` queries make sure you have a blank database. 
    - Use SQL comments to ay what each line does

In [2]:
%%sql 
sqlite:///Movies.db

'Connected: @Movies.db'

In [3]:
%%sql
DROP table if exists movies ;
DROP table if exists theater ;
DROP table if exists artist ;
DROP table if exists show ;
DROP table if exists credit ;

 * sqlite:///Movies.db
Done.
Done.
Done.
Done.
Done.

[]

2. **Use SQL Create Table commands to implement the table designs you created in Part 1.** 
    - Take care with your data types! (You do not need to populate them yet. Thatâ€™s Part 3.) 
    - Use a surrogate key for the primary key of each table. The data type descriptor is `INTEGER PRIMARY KEY`.
    - If you make a mistake, recreate the database from scratch using your code from step 1 above.

In [4]:
%%sql
CREATE TABLE 'Movies'(
    MovieID INTEGER PRIMARY KEY,
    MovieTitle TEXT,
    Rating TEXT
);

 * sqlite:///Movies.db
Done.

[]

In [5]:
%%sql
CREATE TABLE 'Theater'(
    TheaterID INTEGER PRIMARY KEY,
    TheaterName TEXT NOT NULL, 
    PhoneNumber TEXT,
    Location TEXT NOT NULL
);

 * sqlite:///Movies.db
Done.

[]

In [6]:
%%sql
CREATE TABLE 'Artist' (
    ArtistID INTEGER PRIMARY KEY,
    ArtistName TEXT NOT null
);

 * sqlite:///Movies.db
Done.

[]

In [7]:
%%sql
CREATE TABLE 'Show' (
    ShowID INTEGER primary key,
    ShowTime TEXT not null, 
    TheaterID INTEGER not null,
    MovieID INTEGER not null,
    Foreign key (TheaterID) references `Theater`(TheaterID), 
    Foreign key (MovieID) references `Movies` (MovieID)
);

 * sqlite:///Movies.db
Done.

[]

In [8]:
%%sql
CREATE TABLE 'Credit' (
    CreditID INTEGER PRIMARY KEY,
    CreditCode TEXT NOT NULL, 
    ArtistID INTEGER NOT NULL, 
    MovieID INTEGER NOT NULL,
    foreign key (ArtistID) references `Artist`(ArtistID), 
    foreign key (MovieID) references `Movies`(MovieID) 
);

 * sqlite:///Movies.db
Done.

[]

3. **Use SQL ALTER TABLE statements to add the foreign key constraints from your ERD.**  
Take care that each constraint has to have a unique name.

4. **Save, add, commit, and push your work to GitHub.**  
Use the commit summary comment "Completed Part 2".

**Completed Part 2**